* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 380px;
  padding: 10px 10px;
  margin: auto;
}

h1,
h2 {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  color: #fff;
  background-color: #6bb936;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px #000000d5;
}

.btn:hover {
  background-color: #56ac1d;
  box-shadow: 0px 3px 3px 3px #000000d5;
}
